/* CSS for displaying custom post data */


/* u3aeventlist css
   ---------------- */
.u3aeventlist-item { /* each event in list */
    display:flex;
    flex-wrap:wrap;
    margin: 24px 10px 0px;
}
.u3aevent-list-left { /* date/time container */
    flex: 0 0 180px;
}
.u3aevent-grid-left { /* image container */
    flex: 0 0 320px;
    align-self:center;
}
.u3aevent-list-right,
.u3aevent-grid-right {
    flex: 1 0 320px; /* sets a min width for the text */
}
.u3aeventlist figure {
    margin:10px;
    text-align: center;
}
.u3a-eventlist-featured-image {
    width: 300px; /*width of image to match containing div and margin */
    height: 225px; /* portait 4:3 ratio*/
    object-position: center;
}
.u3a-crop {
    object-fit: cover;
}
.u3a-scale-down {
    object-fit: scale-down;
}
.u3aeventlist .no-figure {
    width:300px;
    height:100px;
    margin:10px;
    text-align: center;
}
/* close up paras in list */
.u3aeventlist p {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
}
.u3aevent-grid-right p {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
}
/* not using a heading style for event/group titles within list*/
.u3aeventlist .u3aeventtitle,
.u3agrouplist .u3a_group_title
 {
    font-size: 115%;
    font-weight: bold;
}

/* u3agrouplist filter option
   -------------------------- */
div.u3agroupselector {
    display: flex;
    flex-wrap: wrap;
    margin-block-start: 0 !important;
}
@media only screen and (max-width:786px) {
    div.u3agroupselector {
        justify-content: center;
    }
}

/* u3anoticelist css
   ----------------------- */
.u3a-notice-list p {
    margin: 5px 0 10px 10px;
}
.u3a-notice-list h4 {
    margin-top: 10px;
    margin-bottom: 5px;
}
/* u3agrouplist css
   ----------------------- */

   .u3agrouplist-column-first-flow ul {
    column-width: 300px;
    margin-top: 0;
    list-style-type:none;
}
.u3agrouplist-column-first-flow ul li {
    margin-bottom: 5px;
    break-inside: avoid-column;
}

.u3agrouplist-row-first-flow ul {
    display: grid; 
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-width: 300px;
    margin-top: 0;
    list-style-type:none;
}
.u3agrouplist-row-first-flow ul li {
    margin-bottom: 5px;
    break-inside: avoid-column;
}

/* Buttons used for u3a/grouplist block
   ------------------------------------ */
.u3agroupbuttons {
    text-align: center;
}
.u3agroupbuttons a {
    display: inline-block;
    width: 7.5em;
}

/* group buttons to be two on each row for widths between 540 and 768px*/
@media only screen and (max-width:768px) {
    .u3agroupbuttons a {
           width: 12.5rem;
    }

}
@media only screen and (max-width:540px) {
    .u3agroupbuttons a {
        width: 7.5rem;
      }
}

/* Tables for event, group, venue display()
   ---------------------------------------- */
.u3a_event_table,
.u3a_group_table,
.u3a_venue_table {
    margin-left: 10px;
}
.u3a_event_table td,
.u3a_group_table td,
.u3a_venue_table td {
    vertical-align: top;
}
.u3a_event_table tr td:first-child,
.u3a_group_table tr td:first-child,
.u3a_venue_table tr td:first-child {
    font-weight: bold;
    min-width: 120px;
}
