/* CSS for displaying custom post data */

.u3aeventdata,
.u3aeventlist,
.u3avenue,
.u3agroup {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 5px;
}

.u3aeventdata div:nth-child(odd),
.u3avenue div:nth-child(odd),
.u3agroup div:nth-child(odd) {
    font-weight: bold;
    margin-left: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
}

.u3aeventlist div:nth-child(odd) {
    /* font-weight:bold; */
    margin-left: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    min-width: 150px;
}

.u3aeventlist h4 {
    margin: 0;
}

.u3aeventlist p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.u3aeventlist .u3aeventtitle {
    font-size: 115%;
    font-weight: bold;
    margin-top: 0;
}


div.u3agroupselector {
    display: flex;
    flex-wrap: wrap;
    margin-block-start: 0 !important;
}

.u3a-notice-list p {
    margin: 5px 0 10px 10px;
}

.u3a-notice-list h4 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.u3agrouplist ul {
    column-width: 300px;
    margin-top: 0;
    list-style-type:none;
}

.u3agrouplist ul li {
    margin-bottom: 5px;
    break-inside: avoid-column;
}

.u3a_group_title {
    font-weight: bold;
    font-size: 115%;
}

.u3a_group_table {
    margin-left: 6px;
}
.u3a_group_table td {
    vertical-align: top;
}

.u3a_group_table tr td:first-child {
    min-width: 162px;
}

/* the buttons that select how groups are displayed*/
.u3agroupbuttons {
    text-align: center;
}

.u3agroupbuttons a {
    display: inline-block;
    width: 7.5em;
}

/* group buttons to be two on each row for widths between 540 and 768px*/
@media only screen and (max-width:768px) {
    .u3agroupbuttons a {
           width: 12.5rem;
    }
}
@media only screen and (max-width:540px) {
    .u3agroupbuttons a {
        width: 7.5rem;
      }
}



@media only screen and (max-width:786px) {

    .u3aeventdata,
    .u3aeventlist,
    .u3avenue,
    .u3agroup {
        display: block;
        margin: 0px 5px 0px 5px;
    }

    .u3aeventdata div:nth-child(odd),
    .u3aeventlist div:nth-child(odd),
    .u3avenue div:nth-child(odd),
    .u3agroup div:nth-child(odd) {
        margin: 5px 0px 0px 0px;
    }

    .u3aeventlist div:nth-child(even) {
        border-bottom: 1px solid silver;
    }

    div.u3agroupselector {
        justify-content: center;
    }    
}
@media only screen and (max-width:620px) {
    .u3agroupbuttons a {
        width: 14rem;
      }
}

